In [37]:
import pandas as pd
data = pd.read_csv('restaurant_with_universities.csv')

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상호명        17898 non-null  object
 1   상권업종대분류코드  17898 non-null  object
 2   상권업종대분류명   17898 non-null  object
 3   상권업종중분류코드  17898 non-null  object
 4   상권업종중분류명   17898 non-null  object
 5   상권업종소분류코드  17898 non-null  object
 6   상권업종소분류명   17898 non-null  object
 7   경도         17898 non-null  float64
 8   위도         17898 non-null  float64
 9   대학교        17898 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.4+ MB

In [39]:
data.head()

,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,경도,위도,대학교
0,매머드커피외대,I2,음식,I212,비알코올,I21201,카페,127.056962,37.598493,"경희대학교, 한국외국어대학교"
1,썬더치킨,I2,음식,I210,기타 간이,I21006,치킨,127.073598,37.553662,세종대학교
2,멜팅그릴,I2,음식,I210,기타 간이,I21004,버거,126.955913,37.600976,상명대학교
3,제이앤제이슨R,I2,음식,I211,주점,I21104,요리 주점,126.924515,37.562797,연세대학교
4,미스홍대게스트하우스2,I2,음식,I212,비알코올,I21201,카페,126.923175,37.552909,홍익대학교

In [40]:
is_unique = data['상권업종대분류코드'].nunique() == len(data['상권업종대분류코드'])
print(f"상권업종대분류코드 column이 unique한가? {is_unique}")
print(data['상권업종대분류코드'].nunique())

상권업종대분류코드 column이 unique한가? False
1

In [41]:
is_unique = data['상권업종대분류명'].nunique() == len(data['상권업종대분류명'])
print(f"상권업종대분류명 column이 unique한가? {is_unique}")
print(data['상권업종대분류명'].nunique())

상권업종대분류명 column이 unique한가? False
1

In [42]:
grouped = data.groupby(['상권업종대분류코드', '상권업종대분류명']).size().reset_index(name='상호수')
print(grouped)

  상권업종대분류코드 상권업종대분류명    상호수
0        I2       음식  17898

### 상권업종대분류코드, 상권업종대분류명은 한 개의 값을 가짐

In [43]:
is_unique = data['상권업종중분류코드'].nunique() == len(data['상권업종중분류코드'])
print(f"상권업종중분류코드 column이 unique한가? {is_unique}")
print(data['상권업종중분류코드'].nunique())

상권업종중분류코드 column이 unique한가? False
10

In [44]:
is_unique = data['상권업종중분류명'].nunique() == len(data['상권업종중분류명'])
print(f"상권업종중분류명 column이 unique한가? {is_unique}")
print(data['상권업종중분류명'].nunique())

상권업종중분류명 column이 unique한가? False
10

In [45]:
grouped = data.groupby(['상권업종중분류코드', '상권업종중분류명']).size().reset_index(name='상호수')
print(grouped)

  상권업종중분류코드 상권업종중분류명   상호수
0      I201       한식  5574
1      I202       중식   721
2      I203       일식   993
3      I204      서양식  1030
4      I205    동남아시아   225
5      I206    기타 외국     1
6      I207  구내식당·뷔페   130
7      I210    기타 간이  3760
8      I211       주점  2201
9      I212    비알코올   3263

### 상권업종중분류명, 상권업종중분류명은 10개의 쌍으로 이루어진 데이터로 이루어짐

In [20]:
data[data['상권업종중분류코드'] == 'I206']

,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,경도,위도,대학교
13504,오한수우육면가,I2,음식,I206,기타 외국,I20601,분류 안된 외국식 음식점,126.950865,37.545112,한국폴리텍대학

In [ ]:
상권업종소분류코드	상권업종소분류명

In [21]:
is_unique = data['상권업종소분류코드'].nunique() == len(data['상권업종소분류코드'])
print(f"상권업종소분류코드 column이 unique한가? {is_unique}")
print(data['상권업종소분류코드'].nunique())

상권업종소분류코드 column이 unique한가? False
43

In [22]:
is_unique = data['상권업종소분류명'].nunique() == len(data['상권업종소분류명'])
print(f"상권업종소분류명 column이 unique한가? {is_unique}")
print(data['상권업종소분류명'].nunique())

상권업종소분류명 column이 unique한가? False
43

In [23]:
grouped = data.groupby(['상권업종소분류코드', '상권업종소분류명']).size().reset_index(name='상호수')
print(grouped)

   상권업종소분류코드       상권업종소분류명   상호수
0     I20101         백반/한정식  2867
1     I20102        국/탕/찌개류   448
2     I20103          족발/보쌈   127
3     I20104          전/부침개    20
4     I20105         국수/칼국수   310
5     I20106          냉면/밀면    73
6     I20107      돼지고기 구이/찜   929
7     I20108       소고기 구이/찜    80
8     I20109       곱창 전골/구이   179
9     I20110    닭/오리고기 구이/찜   157
10    I20111             횟집   192
11    I20112       해산물 구이/찜   160
12    I20113        복 요리 전문     6
13    I20199      기타 한식 음식점    26
14    I20201            중국집   575
15    I20202         마라탕/훠궈   146
16    I20301        일식 회/초밥   779
17    I20302   일식 카레/돈가스/덮밥   101
18    I20303        일식 면 요리    94
19    I20399      기타 일식 음식점    19
20    I20401            경양식   873
21    I20402       파스타/스테이크    86
22    I20403        패밀리레스토랑     4
23    I20499     기타 서양식 음식점    67
24    I20501        베트남식 전문   210
25    I20599     기타 동남아식 전문    15
26    I20601  분류 안된 외국식 음식점     1
27    I20701           구내식당   119
28    I20702             뷔페    11
29    I21001           빵/도넛   717
30    I21002           떡/한과   122
31    I21003             피자   537
32    I21004             버거   151
33    I21005   토스트/샌드위치/샐러드   120
34    I21006             치킨   698
35    I21007       김밥/만두/분식  1111
36    I21008       아이스크림/빙수    72
37    I21099  그 외 기타 간이 음식점   232
38    I21101       일반 유흥 주점   221
39    I21102       무도 유흥 주점    12
40    I21103         생맥주 전문   362
41    I21104          요리 주점  1606
42    I21201             카페  3263

### 상권업종소분류코드, 상권업종소분류명은 43개의 쌍으로 이루어진 데이터로 이루어짐

#### hdfs에서 파일을 읽으면 대학교 column에 두 개의 값이 들어있는 경우 "경희대학교, 한국외국어대학교" 형식으로 들어있어 미리 split했음.

In [46]:
df = data.copy()

data_expanded = df.assign(대학교=data['대학교'].str.split(',')).explode('대학교')

data_expanded['대학교'] = data_expanded['대학교'].str.strip()

print(data_expanded)
print(len(data_expanded))

           상호명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드 상권업종중분류명 상권업종소분류코드  상권업종소분류명  \
0      매머드커피외대        I2       음식      I212    비알코올     I21201        카페
0      매머드커피외대        I2       음식      I212    비알코올     I21201        카페
1         썬더치킨        I2       음식      I210    기타 간이    I21006        치킨
2         멜팅그릴        I2       음식      I210    기타 간이    I21004        버거
3      제이앤제이슨R        I2       음식      I211       주점    I21104     요리 주점
...        ...       ...      ...       ...      ...       ...       ...
17894      나이브        I2       음식      I210    기타 간이    I21007  김밥/만두/분식
17895   육회바른연어        I2       음식      I201       한식    I20108  소고기 구이/찜
17896    제이엠기획        I2       음식      I201       한식    I20101    백반/한정식
17897     이문족발        I2       음식      I201       한식    I20103     족발/보쌈
17897     이문족발        I2       음식      I201       한식    I20103     족발/보쌈

               경도         위도        대학교
0      127.056962  37.598493      경희대학교
0      127.056962  37.598493   한국외국어대학교
1      127.073598  37.553662      세종대학교
2      126.955913  37.600976      상명대학교
3      126.924515  37.562797      연세대학교
...           ...        ...        ...
17894  127.076909  37.624646  서울과학기술대학교
17895  126.964204  37.475705      서울대학교
17896  126.913962  37.598876    서울기독대학교
17897  127.061632  37.595376      경희대학교
17897  127.061632  37.595376   한국외국어대학교

[20486 rows x 10 columns]
20486

### 한 개의 row에 여러 개의 대학교가 들어가있는 데이터를 split

In [47]:
data_expanded.to_csv('trans_split_univ.csv', index=False, encoding='utf-8-sig')

### 면적 데이터를 사용하기 위해 university_locations.csv 전처리

In [35]:
import pandas as pd
df = pd.read_csv('university_locations.csv')

In [33]:
df

            대학명            면적         위도          경도
0         서울대학교    4,317,000㎡  37.464827  126.957199
1         연세대학교      952,750㎡  37.566394  126.938707
2         고려대학교      946,177㎡  37.589388  127.032477
3       이화여자대학교      554,927㎡  37.561859  126.946834
4     서울과학기술대학교      504,922㎡  37.631668  127.077481
5         건국대학교  456,392㎡[62]  37.542327  127.075920
6       서울시립대학교      434,004㎡  37.583866  127.058777
7         한양대학교      401,729㎡  37.557176  127.045409
8         삼육대학교      319,537㎡  37.643582  127.106346
9         서강대학교      242,091㎡  37.550944  126.941002
10      서울여자대학교      225,020㎡  37.628113  127.090457
11        국민대학교      191,736㎡  37.610869  126.997289
12      덕성여자대학교      188,260㎡  37.651298  127.016573
13        중앙대학교      179,972㎡  37.504556  126.956938
14        상명대학교      174,763㎡  37.602638  126.955252
15        동국대학교      171,904㎡  37.558288  127.000167
16      성신여자대학교      156,419㎡  37.591300  127.022107
17       성균관대학교      154,104㎡  37.588227  126.993606
18       가톨릭대학교      137,991㎡  37.585765  127.004812
19        숭실대학교      133,951㎡  37.496354  126.957222
20        세종대학교      119,694㎡  37.550758  127.074168
21        홍익대학교      112,653㎡  37.550756  126.925490
22        강서대학교       92,483㎡  37.548345  126.854797
23     한국외국어대학교       82,291㎡  37.597445  127.058800
24        광운대학교       75,836㎡  37.619428  127.059820
25      숙명여자대학교       68,337㎡  37.546475  126.964692
26        명지대학교       55,486㎡  37.580222  126.922605
27      동덕여자대학교       54,323㎡  37.606816  127.042383
28        서경대학교       53,615㎡  37.614885  127.013351
29        한성대학교       48,726㎡  37.582848  127.010581
30        총신대학교       42,349㎡  37.488623  126.966817
31       성공회대학교       39,431㎡  37.487735  126.825157
32        경기대학교       19,157㎡  37.300485  127.035833
33      서울한영대학교       18,899㎡  37.496541  126.851262
34      서울기독대학교        7,940㎡  37.600916  126.912364
35        인덕대학교      76,485m²  37.631419  127.054825
36      한양여자대학교       70,558㎡  37.558667  127.049887
37  한국폴리텍대학[81]   57,729㎡[82]  37.547398  126.949889
38      삼육보건대학교       49,710㎡  37.589321  127.064443
39        서일대학교       38,505㎡  37.586617  127.097744
40      동양미래대학교       36,881㎡  37.500542  126.867671
41       명지전문대학       33,500㎡  37.584646  126.925187
42      숭의여자대학교       25,724㎡  37.556397  126.987497
43      배화여자대학교       23,389㎡  37.577917  126.967680
44    서울여자간호대학교        4,534㎡  37.597475  126.947416

In [36]:
import pandas as pd

new_university = {
    '대학명': '경희대학교',
    '면적': '407,376㎡',
    '위도': 37.59685,
    '경도': 127.0518
}

new_university_df = pd.DataFrame([new_university])

df = pd.concat([df, new_university_df], ignore_index=True)

df['대학명'] = df['대학명'].str.replace(r'\[.*?\]', '', regex=True).str.strip()

# 전처리 작업
# 1. 숫자와 특수문자 제거
df['면적'] = df['면적'].str.replace('[^0-9]', '', regex=True)  # 면적에서 숫자만 남기기
df['면적'] = pd.to_numeric(df['면적'], errors='coerce')  # 숫자로 변환

# 2. 위도와 경도의 null 값 처리
# (null 값은 빈 문자열이나 0으로 변환하거나 제거 가능)
df['위도'] = pd.to_numeric(df['위도'], errors='coerce')  # 숫자로 변환, 잘못된 값은 NaN 처리
df['경도'] = pd.to_numeric(df['경도'], errors='coerce')

# NaN 값 확인 (필요에 따라 채우거나 삭제)
df['위도'] = df['위도'].fillna(0)  # 위도 NaN 값을 0으로 채우기
df['경도'] = df['경도'].fillna(0)  # 경도 NaN 값을 0으로 채우기


# 3. 컬럼 이름 Hive에 맞게 변경
df.rename(columns={
    '대학교': 'univ_name',
    '면적': 'square',
    '위도': 'latitude',
    '경도': 'longitude'
}, inplace=True)

df.to_csv('trans_univ_location.csv', index=False, encoding='utf-8-sig')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대학명        45 non-null     object
 1   square     45 non-null     int64
 2   latitude   45 non-null     float64
 3   longitude  45 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ KB